.appui-meeting {
  .bbn-splitter {
    grid-gap: 4em !important;
    .bbn-pane {
      &.appui-meeting-adminroom {
        border-color: var(--secondary-border) !important;
      }
      &.appui-meeting-yourroom {
        border-color: var(--tertiary-border) !important;
      }
    }
  }
}